<!DOCTYPE html>
<html>
    <head>
        <title> Wine Quality App</title>
        <style>
            body {
                font-family: Arial;
                text-align: center;
                margin-top: 100px;
            }
            a{
                padding: 10px 20px;
                background-color: #4CAF50;
                color: white;
                text-decoration: none;
                border-radius: 5px;

            }
        </style>
    </head>
    <body>
        <h1>Wine Quality Prediction</h1>
        <p>Predict whether a wine is good or bad on its chemical properties</p>

        <a href="/predict_form">Go to Prediction Form</a>
    </body>
</html>